aiodns
aiohttp
aiohttp-socks
aiosignal
appdirs
async-timeout
attrs
beautifulsoup4
bleach
blinker
bs4
cchardet
certifi
cffi
charset-normalizer
click
colorama
contourpy
cramjam
cssselect
curl_cffi
cycler
Cython
dataclasses
duckduckgo_search
elastic-transport
elasticsearch
fake-useragent
fastparquet
Flask
Flask-Cors
fonttools
frozendict
frozenlist
fsspec
geographiclib
geopy
gevent
googletransx
greenlet
html5lib
idna
importlib_metadata
itsdangerous
Jinja2
joblib
kaggle
kiwisolver
lxml
MarkupSafe
matplotlib
mpld3
multidict
multitasking
numpy
oauthlib
opendatasets
packaging
pandas
parse
peewee
pillow
pyarrow
pycares
pycparser
pyee
pyparsing
pyppeteer
pyquery
PySocks
python-dateutil
python-slugify
python-socks
pytz
requests
requests-oauthlib
schedule
scikit-learn
scipy
seaborn
six
soupsieve
text-unidecode
threadpoolctl
tqdm
typing_extensions
tzdata
urllib3
w3lib
webencodings
websockets
Werkzeug
yarl
yfinance
zipp
zope.event
zope.interface
